In [1]:
import pandas as pd
import geopandas as gpd

In [25]:
blocks = gpd.read_file('blocks.geojson')[['study_case','area','id', 'geometry']]
blocks
# Import blocks file - cosists geometry, microrayon name and block area

   study_case    area  id                                           geometry
0   Rusanivka  275780   1  POLYGON ((30.59117 50.44540, 30.59283 50.44550...
1   Rusanivka  437957   2  POLYGON ((30.59959 50.43500, 30.59912 50.43545...
2   Rusanivka  201980   3  POLYGON ((30.59222 50.43813, 30.59682 50.43840...
3    Comfort   408987   8  POLYGON ((30.62148 50.43057, 30.62121 50.43232...
4  Pn.-Brovar  264071   4  POLYGON ((30.60920 50.45692, 30.60901 50.45700...
5       Ozera   99614   7  POLYGON ((30.60248 50.46630, 30.60229 50.46668...
6  Pn.-Brovar  351799   5  POLYGON ((30.61459 50.46104, 30.61475 50.46108...
7  Pn.-Brovar  422894   6  POLYGON ((30.61329 50.46305, 30.61878 50.46989...

In [28]:
parking = gpd.read_file('parking_lots.geojson')[['capacity', 'geometry']]
parking.capacity = parking.capacity.astype('int')
parking

     capacity                   geometry
0           9  POINT (30.61306 50.46054)
1          19  POINT (30.62324 50.46757)
2          26  POINT (30.62200 50.46497)
3         200  POINT (30.62515 50.43384)
4          17  POINT (30.62487 50.46564)
..        ...                        ...
143        64  POINT (30.62287 50.43335)
144        20  POINT (30.61922 50.43106)
145       200  POINT (30.61848 50.43428)
146       200  POINT (30.61879 50.43376)
147         6  POINT (30.62173 50.43800)

[148 rows x 2 columns]

In [24]:
blocks\
    .sjoin(parking, predicate='contains')\
    .drop(columns=['geometry', 'index_right'])\
    .groupby(['id','study_case','area']).sum()

                      capacity
id study_case area
1  Rusanivka  275780       232
2  Rusanivka  437957       695
3  Rusanivka  201980       130
4  Pn.-Brovar 264071       240
5  Pn.-Brovar 351799       204
6  Pn.-Brovar 422894       193
7  Ozera      99614        416
8  Comfort    408987      1904