In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
blocks = gpd.read_file('blocks.geojson')
blocks = blocks.set_index('id').sort_values(by='id')
blocks
# Import blocks file - cosists geometry, microrayon name and block area

    study_case    area                                           geometry
id
1    Rusanivka  275780  POLYGON ((30.59117 50.44540, 30.59283 50.44550...
2    Rusanivka  437957  POLYGON ((30.59959 50.43500, 30.59912 50.43545...
3    Rusanivka  201980  POLYGON ((30.59222 50.43813, 30.59682 50.43840...
4   Pn.-Brovar  264071  POLYGON ((30.60920 50.45692, 30.60901 50.45700...
5   Pn.-Brovar  351799  POLYGON ((30.61459 50.46104, 30.61475 50.46108...
6   Pn.-Brovar  422894  POLYGON ((30.61329 50.46305, 30.61878 50.46989...
7        Ozera   99614  POLYGON ((30.60248 50.46630, 30.60229 50.46668...
8     Comfort   408987  POLYGON ((30.62148 50.43057, 30.62121 50.43232...

In [3]:
buildings = gpd.read_file('buildings.geojson') 
#  Import buildings file - consists type of building, area, study case, OSM info, number of apartments, building type and geometry.
buildings

,full_id,osm_id,osm_type,building,building:levels,area,study_case,block_id,apartments,year,type,geometry
0,w28119067,28119067,way,apartments,16,568,Rusanivka,1,120.0,1970.0,1-480,"MULTIPOLYGON (((30.59180 50.44397, 30.59207 50..."
1,w28868182,28868182,way,apartments,9,813,Rusanivka,1,108.0,1964.0,1KG-480,"MULTIPOLYGON (((30.59159 50.44508, 30.59175 50..."
2,w28868183,28868183,way,apartments,9,760,Rusanivka,1,108.0,1965.0,1KG-480,"MULTIPOLYGON (((30.59168 50.44523, 30.59268 50..."
3,w28868184,28868184,way,apartments,9,735,Rusanivka,1,108.0,1965.0,1KG-480,"MULTIPOLYGON (((30.59354 50.44512, 30.59434 50..."
4,w28868185,28868185,way,apartments,9,823,Rusanivka,1,108.0,1964.0,1KG-480,"MULTIPOLYGON (((30.59409 50.44469, 30.59414 50..."
...,...,...,...,...,...,...,...,...,...,...,...,...
561,w973195879,973195879,way,kiosk,None,47,Pn.-Brovar,6,NaN,NaN,None,"MULTIPOLYGON (((30.62005 50.46950, 30.61993 50..."
562,w973195880,973195880,way,kiosk,None,27,Pn.-Brovar,6,NaN,NaN,None,"MULTIPOLYGON (((30.61993 50.46954, 30.61985 50..."
563,w973195881,973195881,way,kiosk,None,51,Pn.-Brovar,6,NaN,NaN,None,"MULTIPOLYGON (((30.62018 50.46945, 30.62005 50..."
564,w973195882,973195882,way,kiosk,None,42,Pn.-Brovar,6,NaN,NaN,None,"MULTIPOLYGON (((30.62030 50.46946, 30.62035 50..."
565,w984113865,984113865,way,kiosk,1,39,Pn.-Brovar,6,NaN,NaN,None,"MULTIPOLYGON (((30.62167 50.46722, 30.62158 50..."

In [ ]:
buildings.groupby('building')[[]].count()

,full_id,osm_id,osm_type,building:levels,area,study_case,block_id,apartments,year,type,geometry
building,,,,,,,,,,,
apartments,355,355,355,353,355,355,355,174,174,174,355
church,1,1,1,1,1,1,1,0,0,0,1
college,1,1,1,1,1,1,1,0,0,0,1
commercial,23,23,23,16,23,23,23,0,0,0,23
construction,2,2,2,1,2,2,2,0,0,0,2
garage,8,8,8,0,8,8,8,0,0,0,8
garages,14,14,14,1,14,14,14,0,0,0,14
garagesq,1,1,1,0,1,1,1,0,0,0,1
hospital,3,3,3,3,3,3,3,0,0,0,3
hotel,2,2,2,2,2,2,2,0,0,0,2
house,2,2,2,2,2,2,2,0,0,0,2
ice arena,1,1,1,1,1,1,1,0,0,0,1
industrial,3,3,3,3,3,3,3,0,0,0,3
kindergarten,19,19,19,13,19,19,19,0,0,0,19
kiosk,61,61,61,14,61,61,61,0,0,0,61
parking,5,5,5,4,5,5,5,0,0,0,5
residential,4,4,4,4,4,4,4,0,0,0,4
retail,5,5,5,1,5,5,5,0,0,0,5
roof,1,1,1,0,1,1,1,0,0,0,1
school,23,23,23,21,23,23,23,0,0,0,23
service,31,31,31,16,31,31,31,0,0,0,31
shed,1,1,1,0,1,1,1,0,0,0,1

# dwelling unit mix:
### single family:
- house

### multi-family:
- apartments
- residential

### mixed-use residential:
- apartments & mix-used
- residential & mix-used
- house & mix-used

In [5]:
features=gpd.read_file("nodes_names.geojson")
features

,shop,brand:wikipedia,brand:en,name:ru,name:en,name:uk,name,geometry
0,None,None,None,None,None,Поштове відділення №192,Поштове відділення №192,POINT (30.60958 50.46374)
1,None,None,None,None,None,Чайхона Базар,Чайхона Базар,POINT (30.59198 50.44234)
2,supermarket,None,None,None,None,Сільпо,Сільпо,POINT (30.59235 50.43957)
3,chemist,None,None,None,None,Watsons,Watsons,POINT (30.59240 50.43924)
4,None,None,None,None,None,Mushlya,Mushlya,POINT (30.59237 50.43879)
...,...,...,...,...,...,...,...,...
307,None,None,None,None,None,None,Na begu,POINT (30.59252 50.43788)
308,trade,None,None,None,None,None,Rozetka,POINT (30.59301 50.43536)
309,department_store,None,None,None,None,None,Продукты,POINT (30.60647 50.43865)
310,None,None,None,None,None,None,Бажаемо здоров'я,POINT (30.59841 50.43544)
311,coffee,None,None,None,None,None,Coffee Kiosk,POINT (30.59660 50.43820)

In [6]:
mix_use = features.sjoin(buildings, predicate="within", how="inner").groupby("index_right").count()[[]]
mix_use['use'] = 'mixed use'
mix_use

                   use
index_right
0            mixed use
2            mixed use
3            mixed use
6            mixed use
7            mixed use
...                ...
525          mixed use
526          mixed use
527          mixed use
542          mixed use
544          mixed use

[103 rows x 1 columns]

In [7]:
buildings = buildings.join(mix_use)
buildings

,full_id,osm_id,osm_type,building,building:levels,area,study_case,block_id,apartments,year,type,geometry,use
0,w28119067,28119067,way,apartments,16,568,Rusanivka,1,120.0,1970.0,1-480,"MULTIPOLYGON (((30.59180 50.44397, 30.59207 50...",mixed use
1,w28868182,28868182,way,apartments,9,813,Rusanivka,1,108.0,1964.0,1KG-480,"MULTIPOLYGON (((30.59159 50.44508, 30.59175 50...",NaN
2,w28868183,28868183,way,apartments,9,760,Rusanivka,1,108.0,1965.0,1KG-480,"MULTIPOLYGON (((30.59168 50.44523, 30.59268 50...",mixed use
3,w28868184,28868184,way,apartments,9,735,Rusanivka,1,108.0,1965.0,1KG-480,"MULTIPOLYGON (((30.59354 50.44512, 30.59434 50...",mixed use
4,w28868185,28868185,way,apartments,9,823,Rusanivka,1,108.0,1964.0,1KG-480,"MULTIPOLYGON (((30.59409 50.44469, 30.59414 50...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,w973195879,973195879,way,kiosk,None,47,Pn.-Brovar,6,NaN,NaN,None,"MULTIPOLYGON (((30.62005 50.46950, 30.61993 50...",NaN
562,w973195880,973195880,way,kiosk,None,27,Pn.-Brovar,6,NaN,NaN,None,"MULTIPOLYGON (((30.61993 50.46954, 30.61985 50...",NaN
563,w973195881,973195881,way,kiosk,None,51,Pn.-Brovar,6,NaN,NaN,None,"MULTIPOLYGON (((30.62018 50.46945, 30.62005 50...",NaN
564,w973195882,973195882,way,kiosk,None,42,Pn.-Brovar,6,NaN,NaN,None,"MULTIPOLYGON (((30.62030 50.46946, 30.62035 50...",NaN
565,w984113865,984113865,way,kiosk,1,39,Pn.-Brovar,6,NaN,NaN,None,"MULTIPOLYGON (((30.62167 50.46722, 30.62158 50...",NaN

In [8]:
residential = buildings[(buildings.building=="apartments") | (buildings.building=="house") | (buildings.building=="residential")]
residential

,full_id,osm_id,osm_type,building,building:levels,area,study_case,block_id,apartments,year,type,geometry,use
0,w28119067,28119067,way,apartments,16,568,Rusanivka,1,120.0,1970.0,1-480,"MULTIPOLYGON (((30.59180 50.44397, 30.59207 50...",mixed use
1,w28868182,28868182,way,apartments,9,813,Rusanivka,1,108.0,1964.0,1KG-480,"MULTIPOLYGON (((30.59159 50.44508, 30.59175 50...",NaN
2,w28868183,28868183,way,apartments,9,760,Rusanivka,1,108.0,1965.0,1KG-480,"MULTIPOLYGON (((30.59168 50.44523, 30.59268 50...",mixed use
3,w28868184,28868184,way,apartments,9,735,Rusanivka,1,108.0,1965.0,1KG-480,"MULTIPOLYGON (((30.59354 50.44512, 30.59434 50...",mixed use
4,w28868185,28868185,way,apartments,9,823,Rusanivka,1,108.0,1964.0,1KG-480,"MULTIPOLYGON (((30.59409 50.44469, 30.59414 50...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
527,w534340721,534340721,way,apartments,16,611,Pn.-Brovar,6,16.0,1976.0,individual,"MULTIPOLYGON (((30.62413 50.46590, 30.62423 50...",mixed use
528,w534340727,534340727,way,apartments,16,646,Pn.-Brovar,6,17.0,1976.0,individual,"MULTIPOLYGON (((30.62413 50.46590, 30.62382 50...",NaN
542,w569490337,569490337,way,apartments,9,730,Pn.-Brovar,6,67.0,2013.0,individual,"MULTIPOLYGON (((30.61907 50.46609, 30.61911 50...",mixed use
554,w828767167,828767167,way,apartments,5,1025,Pn.-Brovar,6,78.0,1963.0,1-480-15К,"MULTIPOLYGON (((30.62209 50.46710, 30.62224 50...",NaN
555,w828767168,828767168,way,apartments,5,1015,Pn.-Brovar,6,155.0,1963.0,1-480-15К,"MULTIPOLYGON (((30.62264 50.46788, 30.62278 50...",NaN

In [9]:
residential.loc[((residential.building=='house') & (residential.use!='mixed use')), 'use' ]='single family'
residential.loc[(((residential.building=='residential') | (residential.building=='apartments')) & (residential.use!='mixed use')), 'use' ]='multi family'
residential

C:\Users\Kate\.conda\envs\gis\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,full_id,osm_id,osm_type,building,building:levels,area,study_case,block_id,apartments,year,type,geometry,use
0,w28119067,28119067,way,apartments,16,568,Rusanivka,1,120.0,1970.0,1-480,"MULTIPOLYGON (((30.59180 50.44397, 30.59207 50...",mixed use
1,w28868182,28868182,way,apartments,9,813,Rusanivka,1,108.0,1964.0,1KG-480,"MULTIPOLYGON (((30.59159 50.44508, 30.59175 50...",multi family
2,w28868183,28868183,way,apartments,9,760,Rusanivka,1,108.0,1965.0,1KG-480,"MULTIPOLYGON (((30.59168 50.44523, 30.59268 50...",mixed use
3,w28868184,28868184,way,apartments,9,735,Rusanivka,1,108.0,1965.0,1KG-480,"MULTIPOLYGON (((30.59354 50.44512, 30.59434 50...",mixed use
4,w28868185,28868185,way,apartments,9,823,Rusanivka,1,108.0,1964.0,1KG-480,"MULTIPOLYGON (((30.59409 50.44469, 30.59414 50...",multi family
...,...,...,...,...,...,...,...,...,...,...,...,...,...
527,w534340721,534340721,way,apartments,16,611,Pn.-Brovar,6,16.0,1976.0,individual,"MULTIPOLYGON (((30.62413 50.46590, 30.62423 50...",mixed use
528,w534340727,534340727,way,apartments,16,646,Pn.-Brovar,6,17.0,1976.0,individual,"MULTIPOLYGON (((30.62413 50.46590, 30.62382 50...",multi family
542,w569490337,569490337,way,apartments,9,730,Pn.-Brovar,6,67.0,2013.0,individual,"MULTIPOLYGON (((30.61907 50.46609, 30.61911 50...",mixed use
554,w828767167,828767167,way,apartments,5,1025,Pn.-Brovar,6,78.0,1963.0,1-480-15К,"MULTIPOLYGON (((30.62209 50.46710, 30.62224 50...",multi family
555,w828767168,828767168,way,apartments,5,1015,Pn.-Brovar,6,155.0,1963.0,1-480-15К,"MULTIPOLYGON (((30.62264 50.46788, 30.62278 50...",multi family

In [10]:
#residential.to_file('dwelling unit mix.geojson')

In [11]:
blocks['mix_use_residential_number'] = residential[residential.use=='mixed use'].groupby('block_id').count()['use']
blocks['single_family_number'] = residential[residential.use=='single family'].groupby('block_id').count()['use']
blocks['multi_family_number'] = residential[residential.use=='multi family'].groupby('block_id').count()['use']
blocks['total_residential'] = residential.groupby('block_id').count()['use']
blocks

,study_case,area,geometry,mix_use_residential_number,single_family_number,multi_family_number,total_residential
id,,,,,,,
1,Rusanivka,275780,"POLYGON ((30.59117 50.44540, 30.59283 50.44550...",12,NaN,17,29
2,Rusanivka,437957,"POLYGON ((30.59959 50.43500, 30.59912 50.43545...",10,NaN,28,38
3,Rusanivka,201980,"POLYGON ((30.59222 50.43813, 30.59682 50.43840...",8,NaN,9,17
4,Pn.-Brovar,264071,"POLYGON ((30.60920 50.45692, 30.60901 50.45700...",1,NaN,18,19
5,Pn.-Brovar,351799,"POLYGON ((30.61459 50.46104, 30.61475 50.46108...",3,NaN,30,33
6,Pn.-Brovar,422894,"POLYGON ((30.61329 50.46305, 30.61878 50.46989...",8,NaN,31,39
7,Ozera,99614,"POLYGON ((30.60248 50.46630, 30.60229 50.46668...",10,NaN,5,15
8,Comfort,408987,"POLYGON ((30.62148 50.43057, 30.62121 50.43232...",23,2.0,146,171

In [12]:
blocks['mix_use_residential_percent'] = blocks.mix_use_residential_number / blocks.total_residential
blocks['single_family_percent'] = blocks.single_family_number / blocks.total_residential
blocks['multi_family_percent'] = blocks.multi_family_number / blocks.total_residential
blocks

,study_case,area,geometry,mix_use_residential_number,single_family_number,multi_family_number,total_residential,mix_use_residential_percent,single_family_percent,multi_family_percent
id,,,,,,,,,,
1,Rusanivka,275780,"POLYGON ((30.59117 50.44540, 30.59283 50.44550...",12,NaN,17,29,0.413793,NaN,0.586207
2,Rusanivka,437957,"POLYGON ((30.59959 50.43500, 30.59912 50.43545...",10,NaN,28,38,0.263158,NaN,0.736842
3,Rusanivka,201980,"POLYGON ((30.59222 50.43813, 30.59682 50.43840...",8,NaN,9,17,0.470588,NaN,0.529412
4,Pn.-Brovar,264071,"POLYGON ((30.60920 50.45692, 30.60901 50.45700...",1,NaN,18,19,0.052632,NaN,0.947368
5,Pn.-Brovar,351799,"POLYGON ((30.61459 50.46104, 30.61475 50.46108...",3,NaN,30,33,0.090909,NaN,0.909091
6,Pn.-Brovar,422894,"POLYGON ((30.61329 50.46305, 30.61878 50.46989...",8,NaN,31,39,0.205128,NaN,0.794872
7,Ozera,99614,"POLYGON ((30.60248 50.46630, 30.60229 50.46668...",10,NaN,5,15,0.666667,NaN,0.333333
8,Comfort,408987,"POLYGON ((30.62148 50.43057, 30.62121 50.43232...",23,2.0,146,171,0.134503,0.011696,0.853801

In [13]:
blocks[['mix_use_residential_percent', 'multi_family_percent', 'single_family_percent']]

    mix_use_residential_percent  multi_family_percent  single_family_percent
id
1                      0.413793              0.586207                    NaN
2                      0.263158              0.736842                    NaN
3                      0.470588              0.529412                    NaN
4                      0.052632              0.947368                    NaN
5                      0.090909              0.909091                    NaN
6                      0.205128              0.794872                    NaN
7                      0.666667              0.333333                    NaN
8                      0.134503              0.853801               0.011696